:root {
  --nav-bg: #16235a; /* آبی تیره */
  --nav-link: #ffffff; /* سفید */
  --nav-link-hover: #2a3457; /* آبی سبز تیره */
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-bg);
  padding: 15px 120px;
  box-sizing: border-box;
  direction: rtl;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* لوگو */

.logo {
  height: 55px;
}
/* لینک‌ها */

.nav-right {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.nav-right a {
  color: var(--nav-link);
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  white-space: nowrap;
  transition: 0.3s ease;
}
.nav-right a:hover {
  color: var(--nav-link-hover);
}
.nav-right a {
  position: relative;
}

.nav-right a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 3px;

  background: #888c46;
  border-radius: 3px;
  transition: 0.3s ease;
}


.nav-right a.active::after {
  width: 100%;
  left: 0;
}
.menu-btn {
  width: 30px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: none;
  border: none;
}

.menu-btn span {
  width: 100%;
  height: 4px;
  background: white;
  border-radius: 4px;
  transition: 0.3s;
}

.menu-btn.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.menu-btn.open span:nth-child(2) {
  opacity: 0;
}
.menu-btn.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
/* ریسپانسیو */
@media (max-width: 1000px) {
  .nav {
    padding: 15px 25px;
  }

  .menu-btn {
    display: flex;
  }

  .nav-right {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: linear-gradient(180deg, #16235a 0%, #a4a4bf 100%);

    flex-direction: column;
    justify-content: flex-start;
    padding-top: 120px;
    gap: 25px;

    transition: right 0.3s ease;
    z-index: 999;
  }

  .nav-right.open {
    right: 0;
  }
}

@media (max-width: 1000px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
  }
}
