@font-face {
  font-family: "IranYekan";
  src: url("./fonts/iranyekanwebboldfanum.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#root {
  font-family: "IranYekan", sans-serif;
  direction: rtl;
}
